<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h2>Add your note</h2>
    <form action="/post" method="post">
        <label for="Title" >Title</label>
        <input type="text" id="Title" name="Title"><br><br>

        <label for="Note" >Note</label>
        <input type="text" id="Note" name="Note"><br><br>

        <input type="submit" value="Sumbit">
    </form>
</body>


</html>