<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <form id="form_update">    
        {% for val in values%}
        <label for="title">Title: {{val.title}}</label>
        <input type="hidden" id="title" name="title" value="{{val.title}}">
        <br><br>
        <label for="note">Note</label>
        <input type="text" id="note" name="note" value="{{val.note}}">
        {% endfor %}
        <button type="button" class="button" onclick="update_note()">Update Customer</button>
    </form>
    
    <script src="/static/js/buttons.js"></script>
</body>
</html>